.Product-item{
    flex-grow: 0;
    margin: 60px;
    width: 300px;
}

.image{
    height: 180px;
    position: auto;
    right: 10px;
}

.product-name{    
    background-color: #ffffff;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #599ea1;
    flex-wrap: wrap;
}

.product-precio{
    background-color: #ffffff;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #599ea1;
}

.product-code{
    background-color: #ffffff;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #599ea1;

}

.product-id{
    background-color: #599ea1;
}

.button-comprar {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    float: flex;

}

.button-comprar {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-comprar:hover {
    background-color: #006b1c; /* Green */
    color: white;
}

.button-verinfo {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    float: flex;

}


.button-verinfo {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-verinfo:hover {
    background-color: #002d71; /* Green */
    color: white;
}



div.gallery {
    position: relative;   
    margin: auto;
    border: 1px solid #ffffff;
    float: left;
    width: 25%;
    z-index: -1;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    z-index:-1;
    width: 100%;
    height: auto;
}

div.desc {
    text-align: center;
    font-size: 80%;
}
* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}